* {
    font-family: "poppins", sans-serif;
}
.banner {
    background-image:url(../image/premium_photo-1661775756810-82dbd209fc95.avif);
    padding: 150px 0;
    background-size: cover;
    background-repeat: no-repeat;

}
.skills-padding {
    padding: 70px 0;
}